 html {
    height: 100%;
    width: 100%;
}
body {
    font-size: 16px;
    font-family: '', sans-serif;
    min-height: 100%;
    min-width: 100%;
    background-color:rgb(9, 73, 161) ;
}
* { 
    box-sizing: border-box;
}
#header-nav {
    background-color:rgb(93, 150, 235) ;
    border-radius: 0;
    border: 0;
    position: relative;;
}


.pull-left{
    float: left;
}
div.container{
    margin-left: 5px;

}
.navbar-brand h1{
    font-family: 'Courier New', Courier, monospace;
    color: #8f9ce4;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 2px 2px 2px #222;
    margin-bottom: 10px;
    line-height: .75;
    
}
.navbar-brand a{
        text-decoration:none;
}
.navbar-brand :hover{
    text-decoration:underline;
}

.navbar-brand p{
    color: #000;
    text-transform: uppercase;
    font-size: .7em;
}

#logo-img {
    background: url("../assest/aop.JPG") no-repeat;
    background-size: 150px 100px;
    width: 150px;;
    height: 100px;;
    margin-right: 10px;
}
.navbar-nav{
    margin-top: auto;
    position: absolute;
    right: 50px;
}

.navbar-nav :hover{
    font-weight: bold;
    text-decoration: underline;
}

.navbar-toggler{
    position: absolute;
    right: 5px;
    top: 5px;
}

.form-control{
    width: 100px;
}
.d-flex {
    position: absolute;
    right: 5px;
    top: 5px;
    display: block;

}
.navbar-toggler{
    position: absolute;
    top: 50px;
}
ul.navbar-nav{
    position: absolute;
    right: 5px;
}

.nav-item a {
    text-align: center;
}
.nav-item :hover {
    background: #8f9ce4;
}
#phone{
    margin-top: 10px;
}
#phone > div {
    text-align: right;
    color: #000;
    padding-right: 15px;
    padding-bottom: 10px;
    font-size: small;
}
